/chave-primaria-composta/chave-composta-idClass/nbproject/private/
/chave-primaria-composta/chave-composta-idClass/build/
/heranca/nbproject/private/
/heranca/build/
/banco/nbproject/private/
/named-query/nbproject/private/
/named-query/build/
/util/nbproject/private/
/util/dist/
/util/build/
